Package: uit-tss-toolbox
Source: uit-tss-toolbox
Version: 1.0-1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Cameron Raschke <cameron@cameronraschke.com>
Description: UIT-TSS-TOOLBOX includes two four programs: UIT-TSS-CONFIGURE-CLONE, UIT-TSS-CONFIGURE-SHRED, UIT-TSS-FLASH-CLONE, and UIT-TSS-FLASH-SHRED.
Pre-Depends: wget
