* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

select {
	font-size: 1.5em;
	padding: 5px;
}

table {
	border-collapse: collapse;
	border-width: 0;
}

button {
	cursor:pointer;
}

.styled-form {
	position: relative;
	width: 95%;
	margin: 5px 5px 5px 5px;
	padding: 20px 20px;
}
.styled-form input[type=text] {
	padding: 12px 20px;
	margin: 2% 10% 2% 10%;
	width: 80%;
	border: 1px solid gray;
}
.styled-form input[type=text]:focus {
	border: 1px solid black;
}
.styled-form input[type=password] {
	padding: 12px 20px;
	margin: 2% 10% 2% 10%;
	width: 80%;
	border: 1px solid gray;
}
.styled-form input[type=password]:focus {
	border: 1px solid black;
}
.styled-form input[type=submit] {
	padding: 8px 10px;
	width: auto;
	margin: 8% 65% 5% 35%;
}

.styled-form2 input[type=submit] {
	padding: 8px 10px;
	width: auto;
}
.styled-form2 input[type=text] {
	padding: 6px 10px;
	margin: 0% 1% 0% 1%;
	width: 20%;
	border: 1px solid gray;
}

.login-form {
	display: flex;
	position: relative;
	width: 25%;
	height: auto;
	top: 10%;
	left: 35%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	margin: 2% 2% 2% 2%;
}

.login-title {
	display: flex;
	position: relative;
	width: 25%;
	height: auto;
	top: 10%;
	left: 35%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	margin: 5% 2% 2% 2%;
	padding: 1% 1% 1% 1%;
	text-align: center;
}

.styled-table {
	border-width: 0;
	position: relative;
	display: flex;
	width: 98%;
    border-collapse: collapse;
	text-align: left;
	margin: 1% 1% 4% 1%;

}
.styled-table thead {
	position: sticky;
	top: 0;
    text-align: left;
}
.styled-table th {
	color: #FFFFFF;
	padding: 6px 7px;
	background-color: #C8102E;
	border-bottom: 2px solid #888B8D;
	cursor: default;
	text-align: left;
}
.styled-table td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 8px 7px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #888B8D;
	white-space: pre-wrap;
	text-align: left;
}
.styled-table td:nth-child(odd) td{
	padding: 8px 7px;
	background-color: #c9c9c9;
}
.styled-table input[type=submit] {
	text-align: center;
	padding: 5px 8px;
	width: 95%;
	margin: 1% 1% 1% 1%;
}
.styled-table select {
	text-align: center;
	padding: 1px 2px;
	width: 95%;
	margin: 1% 1% 1% 1%;
}
.styled-table input[type=text] {
	padding: 3% 45%;
	margin: 0% 1% 0% 1%;
	width: 80%;
	border: 1px solid gray;
	color: black;
}
.styled-table input[type=text]:focus {
	border: 1px solid black;
	color: black;
}

.styled-table a {
	color: #C8102E;
}


.menubar {
	position: relative;
	width: 100%;
	top: 0%;
	background-color: #FFF9D9;
	padding: 2% 2% 2% 2%;
	margin: 0% 0% 1% 0%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
}
.menubar a p span {
	padding: 4px 5px;
}


.pagetitle {
	position: relative;
	display: flex;
	margin: 1% 1% 1% 0%;
	padding: 1% 1% 1% 1%;
	width: 95%;
	text-align: center;
}

.pagetitle a {
	color: #C8102E;
}

.page-content {
	position: relative;
	display: flex;
	margin: 1% 1% 1% 1%;
	padding: 0% 0% 0% 0%;
	width: 95%;
	text-align: center;
}

.documentation {
	position: relative;
	padding: 1% 1% 1% 1%;
	width: 85%;
	text-align: left;
	margin: 2% 15% 2% 2%;
}

.documentation p {
	position: relative;
	margin: 2% 2% 2% 2%;
}

.documentation code {
	background-color: #eee;
	border-radius: 3px;
	font-family: courier, monospace;
	padding: 0 3px;
  }

.uit-footer {
	position: relative;
	display: flex;
	background-color:#54585A;
	padding: 1% 1% 1% 1%;
	margin: 10% 0% 0% 0%;
}
.uit-footer img {
	max-width: 20%;
	height: auto;
}


.location-form {
	background-color:rgb(233, 233, 233);
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form div {
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=text] {
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid gray;
}
.location-form input[type=text]:focus {
	border: 1px solid black;
}
.location-form input[type=submit] {
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: auto;
}
.location-form select {
	text-align: center;
	width: auto;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form label {
	width: auto;
}
.location-form textarea {
	height: 10%;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=checkbox] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=date] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form button {
	width: auto;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.laptop-images img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 70%;
}

.filtering-form {
	background-color:rgb(233, 233, 233);
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.filtering-form div {
	padding: 10px 10px 10px 10px;
}

.filtering-form select {
	padding: 1% 1% 1% 1%;
}

.filtering-form-radio {
	padding: 1% 1% 1% 1%;
}

.filtering-form label {
	padding: 1% 1% 1% 1%;
}

.filtering-form button {
	padding: 1% 1% 1% 1%;
}

.filtering-form input[type=submit] {
	padding: 1% 1% 1% 1%;
}

.column {
	float: left;
	width: 50%;
}

.dense-column {
	float: left;
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 60em) {
	.column {
	  width: 100%;
  }
  .dense-column {
	  width: 100%;
  }
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 20em;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
}
  
.new-tab-image {
	height: 1em;
	width: auto;
}