* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
    	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	border-width: 0;
}

.styled-form2 input[type=submit] {
	padding: 8px 10px;
}
.styled-form2 input[type=text] {
	padding: 6px 10px;
	margin: 0% 1% 0% 1%;
	width: 20%;
	border: 1px solid gray;
}


.billingtable1,
.billingtable2 {
	position: relative;
	display: flex;
	width: 50%;
	height: auto;
	top: 10%;
	left: 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	margin: 2% 2% 2% 2%;
}
.billingform1 {
	display: flex;
	position: absolute;
	width: 25%;
	height: auto;
	top: 17%;
	left: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	margin: 2% 2% 2% 2%;
}

.styled-table {
	border-width: 0;
	position: relative;
	display: flex;
	width: 100%;
    border-collapse: collapse;
	text-align: left;
	margin: 1% 1% 4% 1%;

}
.styled-table thead {
    text-align: left;
}
.styled-table th {
	color: #FFFFFF;
	padding: 6px 7px;
	background-color: #C8102E;
	border-bottom: 2px solid #888B8D;
}
.styled-table td {
	padding: 8px 7px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #888B8D;
}
.styled-table td:nth-child(odd) td{
	padding: 8px 7px;
	background-color: #F2F2F2;
}
.styled-table input[type=submit] {
	text-align: center;
	padding: 5px 8px;
	width: 100%;
	margin: 1% 1% 1% 1%;
}
.styled-table select {
	text-align: center;
	padding: 1px 2px;
	width: 100%;
	margin: 1% 1% 1% 1%;
}


.menubar {
	position: relative;
	width: 100%;
	top: 0%;
	background-color: #FFF9D9;
	padding: 2% 2% 2% 2%;
	margin: 0% 0% 1% 0%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
}
.menubar a p span {
	padding: 4px 5px;
}


.pagetitle {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding: 1% 1% 1% 1%;
	width: 100%;
	height: auto;
	text-align: center;
}
.pagetitle h1 {
	font-size: 1.5em;
}
.pagetitle h4 {
	font-size: 0.5em;
}
