* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
	max-width: 100%;
	font-size: 1.1rem;
}

table {
	position: relative;
    border-collapse: collapse;
	text-align: left;
	margin: 1rem auto 1rem auto;
	word-wrap: break-word;
	border-collapse: collapse;
	border-width: 0;
	width: 100%;
}

thead {
	top: 0vh;
	position: sticky;
    text-align: left;
}

th {
	font-size: 1rem;
	color: #FFFFFF;
	padding: 6px 7px;
	background-color: #C8102E;
	border-bottom: 2px solid #888B8D;
	cursor: default;
	text-align: left;
}

td {
	font-size: 1rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 8px 7px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #888B8D;
	white-space: pre-wrap;
	text-align: left;
}

.td:nth-child(odd) td{
	padding: 8px 7px;
	background-color: #c9c9c9;
}


button {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0.5rem;
	width: max-content;
}


input {
	padding: 0.5rem;
	margin: 0.5rem;
	width: max-content;
}

input[type=file] {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0;
	width: max-content;
}

input[type=file]::file-selector-button {
	cursor: pointer;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin-right: 0.5rem;
	width: max-content;
}


span {
	font-size: 1rem;
}

a {
	color: #C8102E;
}

div {
	max-width: 100%;
	max-height: 100%;
}

select {
	padding: 0.5rem;
	margin: 0.5rem;
}

textarea {
	padding: 0.5rem;
	margin: 0.5rem;
	height: fit-content;
	white-space: pre-wrap; 
	overflow: auto;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.1rem;
}

label {
	margin: 1rem 0rem 0.5rem 0rem;
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in.loaded {
  opacity: 1;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


.login-form {
	position: relative;
	display: grid;
	margin: 10vh auto 10vh auto;
	align-content: center;
	width: 40vw;
	max-width: 100vw;
	max-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr;
	gap: 0.5em 0.5em;
	min-height: 0;
	min-width: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	background-color:rgb(233, 233, 233);
	padding-bottom: 5vh;
}

@media only screen and (max-width: 700px) {
	.login-form {
	position: relative;
	display: grid;
	margin: 10vh auto 10vh auto;
	align-content: center;
	width: 90vw; /* Changed for mobile */
	height: 80vh; /* Changed for mobile */
	max-width: 100vw;
	max-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr;
	gap: 0.5em 0.5em;
	min-height: 0;
	min-width: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
	background-color:rgb(233, 233, 233);
	padding-bottom: 5vh;
	}
}

.login-form div {
	margin: 1vh auto 1vh auto;
	align-content: center;
	width: 100%;
}

.login-form h1 {
	text-align: center;
	margin-left: 10%;
	width: 80%;
	border-bottom: 1px solid black;
}

.login-form label {
	margin-left: 10%;
	width: 80%;
}

.login-form input[type=text]  {
	margin-left: 10%;
	width: 80%;
}

.login-form input[type=password] {
	margin-left: 10%;
	width: 80%;
}

.login-form input[type=submit] {
	margin: auto;
	width: max-content;
}


.index-grid-container {
	position: relative;
	display: grid;
	margin: 5vh auto 5vh auto;
	align-content: center;
	max-width: 100vw;
	grid-template-columns: 1fr 1fr;
	gap: 0.5vw 0.5vw;
	min-height: 0;
	min-width: 0;
	padding-bottom: 5vh;
}

.index-grid-box {
	position: relative;
	margin: 5vh auto 5vh auto;
	gap: 0.5vw 0.5vw;
	min-height: 0;
	min-width: 0;
	padding-bottom: 5vh;
	width: 100%;
	max-width: 50vw;
}

.index-grid-box div {
	padding: 0.5em;
	max-width: 100%;
	max-height: 100%;
}

.index-grid-box textarea {
	width: 90%; 
	max-height: 100vh; 
	height: 30vh;
}

.index-grid-box form {
	background-color:rgb(233, 233, 233);
}

.index-grid-box span {
	margin: 0.5em;
}


.menubar {
	position: relative;
	width: 100%;
	top: 0%;
	background-color: #FFF9D9;
	padding: 2% 2% 2% 2%;
	margin: 0% 0% 1% 0%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #C8102E;
}
.menubar div {
	position: relative
}
.menubar a p span {
	padding: 4px 5px;
}


.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;
}

.flex-container-child {
	align-self: flex-start;
	min-width: 48%;
	max-width: 48%;
	margin: 1% 1% 1% 1%;
}

#job_queue_div {
	border: none;
	border-right: 1px solid black;
}

@media only screen and (max-width: 1250px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-container-child {
	max-width: 98%;
	min-width: 98%;
  }
  #job_queue_div {
	border: none;
	border-bottom: 1px solid black;
  }
}


.pagetitle {
	position: relative;
	display: flex;
	margin: 1% 1% 1% 0%;
	padding: 1% 1% 1% 1%;
	width: max-content;
	text-align: center;
}

.page-content {
	position: relative;
	display: flex;
	margin: 1% 1% 1% 1%;
	padding: 0% 0% 0% 0%;
	width: 95%;
	text-align: center;
}

.documentation {
	position: relative;
	padding: 1% 1% 1% 1%;
	width: 85%;
	text-align: left;
	margin: 2% 15% 2% 2%;
}

.documentation p {
	position: relative;
	margin: 2% 2% 2% 2%;
}

.documentation code {
	background-color: #eee;
	border-radius: 3px;
	font-family: courier, monospace;
	padding: 0 3px;
  }

.uit-footer {
	position: relative;
	display: grid;
	width: 100vw;
	bottom: 0;
	margin: 5vh auto 0vh auto;
	background-color:#54585A;
	grid-template-columns: 1fr 3fr; /* Creates two equal-width columns */
	gap: 0.5em 0.5em;
	min-height: 0;
	min-width: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
}


.location-form {
	background-color:rgb(233, 233, 233);
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form div {
	max-height: fit-content;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=text] {
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 0.5px solid grey;
}
.location-form input[type=text]:focus {
	border: 0.5px solid black;
}
.location-form input[type=submit] {
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: auto;
}

.location-form select {
	text-align: center;
	width: auto;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form label {
	width: auto;
}
.location-form textarea {
	height: 10%;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=checkbox] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}
.location-form input[type=date] {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.laptop-images img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 70%;
}

.filtering-form {
	background-color:rgb(233, 233, 233);
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

.filtering-form div {
	padding: 10px 10px 10px 10px;
}

.filtering-form select {
	padding: 1% 1% 1% 1%;
}

.filtering-form-radio {
	padding: 1% 1% 1% 1%;
}

.filtering-form label {
	padding: 1% 1% 1% 1%;
}

.filtering-form button {
	padding: 1% 1% 1% 1%;
}

.filtering-form input[type=submit] {
	padding: 1% 1% 1% 1%;
}

.column {
	float: left;
	width: 50%;
}

.dense-column {
	float: left;
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 20em;
	max-width: 20em;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
}
  
.new-tab-image {
	height: 1em;
	width: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em 0.5em;
	min-height: 0;
	min-width: 0;
}

.grid-box {
	max-width: 95%;
	max-height: 100%;
	background-color:rgb(233, 233, 233);
	padding: 1em;
	text-align: center;
	overflow: hidden;
	min-width: 0;
}

.navigation-bar {
	display: grid;
	position: sticky;
	top: 0;
	z-index: 10;
	grid-template:
	"a a a a a a" 6vh
	"b b b b c c" 6vh 
	"d d d d d d" 1vh/ 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: #C8102E;
	border-bottom: 2px solid #888B8D;
	gap: 0.5vw 0.5vw;
	min-height: 0;
	min-width: 0;
	align-content: center;
	text-align: center;
	height: 100%;
	margin: 0;
}

#tagnumber-search-spacer {
	grid-column: 1 / 4;
}

#tagnumber-search-div {
	grid-column: 4 / 6;
}

@media only screen and (max-width: 800px) {
	#tagnumber-search-spacer {
		grid-column: 1 / 3;
	}
	
	#tagnumber-search-div {
		grid-column: 3 / 6;
	}
}

.navigation-bar a {
	display: grid;
	font-weight: bold;
  	vertical-align: middle;
	align-content: center;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
  	padding: 0.5rem 1rem 0.5rem 1rem;
	color: white;
    text-decoration: none;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	margin: auto auto auto auto;
}

.navigation-bar div {
	display: grid;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.navigation-bar form {
	background-color: rgb(233, 233, 233);
	width: 100%;
	height: 100%;
	margin: auto auto auto auto;
}

.navigation-bar input[type=text] {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: max-content;
	height: 4vh;
	margin: 1vh auto 1vh auto;
	width: 75%;
}

.navigation-bar button {
	display: inline-flex;
	float: left;
	justify-content: center;
	align-items: center;
	min-width: max-content;
	width: max-content;
	height: 4vh;
	width: 20%;
	margin: auto auto auto auto;
}

.navigation-bar a:hover {
	background-color:rgb(170, 170, 170);
}

.active-navigation-bar {
	background-color:rgba(233, 233, 233, 0.699);
}


.dropdown-search {
	display: inline-block;
	font-weight: bold;
	color: black;
	background-color:rgb(233, 233, 233);
	position: relative;
	z-index: 10;
	width: 100%;
	height: max-content;
}

.dropdown-search div a {
	width: 100%;
	height: 100%;
	padding: 0.5em;
}



.scroll-to-top {
	display: none;
	position: sticky;
	width: max-content;
	height: auto;
	z-index: 10;
	top: 85%;
	left: 95%;
}

.scroll-to-top button {
	border-radius: 5rem;
}

.scroll-to-top img {
	height: 3rem;
	width: auto;
}

.icon {
	display: inline-flex;
	height: 1rem;
	width: auto;
}

.icon img {
	max-width: 100%;
	max-height: auto;
}

.header-title {
	padding: 5px;
}

.header-title a {
	color: #C8102E;
	font-weight: bold;
}

.transparent-button {
	background-color: transparent; 
	text-decoration: underline; 
	border: none; 
	margin: 0; 
	padding: 0; 
	cursor: pointer;
}

.live-image {
	position: relative; 
	cursor: pointer; 
	max-width: 100%; 
	max-height: 100%;
}

.error {
	font-size: 1.3rem;
	font-weight: bold;
	color: red;
}

.submit {
	background-color:rgba(0, 179, 136, 0.30);
	border: 0.1rem solid black;
	border-radius: 5rem;
}


@media only screen and (max-width: 1100px)  {
	* {
		font-size: 1rem;
	}
	.column {
		width: 100%;
	}
  	.dense-column {
		width: 100%;
	}
	.scroll-to-top {
		display: none;
	}
}

