Package: uit-toolbox
Version: 2.0-1
Section: Utilities
Priority: optional
Architecture: amd64
Maintainer: Cameron Raschke <caraschke@uh.edu>
Description: Software for inventory management, remote job management, disk cloning, and securely erasing disks.
