Package: uit-toolbox
Version: 2.0-1
Section: Utilities
Priority: optional
Architecture: amd64
Maintainer: Cameron Raschke <caraschke@uh.edu>
Description: Server software for cloning and securely erasing 
 computers.
