Package: uit-toolbox
#Pre-Depends: chrony, cups-client, cups, debian-archive-keyring, dnsmasq, dosfstools, efibootmgr, git, gnutls-bin, gzip, iftop, iotop, iperf3, lpr, mysql-server, nfs-kernel-server, nginx, php-bcmath, php-cli, php-curl, php-fpm, php-mysql, php, pv, rsync, smartmontools, sysstat, wkhtmltopdf
Version: 2.0-1
Section: Utilities
Priority: optional
Architecture: amd64
Maintainer: Cameron Raschke <caraschke@uh.edu>
Description: Software for inventory management, remote job management, disk cloning, and securely erasing disks.
