Package: uit-tss-client
Source: uit-tss-client
Version: 2.0-1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Cameron Raschke <caraschke@uh.edu>
Description: UIT-TSS-CLIENT.
Pre-Depends: wget
